<div class="container">
    <a href="/">Homepage</a>
    <form action="/posts/store" method="post" encType="multipart/form-data" style="display: flex; flex-direction: column;">
        <label for="title">Blog Title</label>
        <textarea name="title" id="title" cols="30" rows="10" placeholder="Title goes here"></textarea>
        <br>
        <br>
        <label for="description">Blog Title</label>
        <textarea name="description" id="description" cols="30" rows="10" placeholder="Content goes here"></textarea>
        <br>
        <br>
        <input type="file" name="image" class="form-control-file">
        <br>
        <br>
        <button type="submit">Submit Blog</button>
    </form>
</div>