<div class="container">
    <h1>this is blog post page</h1>
    <br>
    <br>
    <h2><%= post.title %></h2>
    <p><%= post.description %></p>
    <p><%= post.image %></p>
    <div style="width: 100px; height: 100px; background-image: url('/<%= post.image %>'); background-size: contain">
    </div>

</div>